# .coveragerc to control coverage
# see http://nedbatchelder.com/code/coverage/config.html

[run]
branch = True
source = spreadflow_observer_fs
omit =
    spreadflow_observer_fs/test/*
parallel = True
