coveralls
pyflakes
pylint<1.5
testtools>=2.2.0
git+https://github.com/spreadflow/spreadflow-core#egg=SpreadFlowCore
git+https://github.com/spreadflow/spreadflow-delta#egg=SpreadFlowDelta
git+https://github.com/spreadflow/spreadflow-format-bson#egg=SpreadFlowFormatBSON
